.chat__footer {
    display: fixed;
    padding: 10 px;
    border-radius: 10px;
    position: fixed; /* This makes the footer fixed on the screen */
    bottom: 0; /* Aligns it at the bottom of the screen */
    right: 10; /* Start from the left edge */
    width: 15%;
    z-index: 1000; /* Ensures it stays above other components */
    margin-bottom: -10px;
}

.form {
    display: fixed;
    width: 500%;
    padding-left: 10px;
}

.message {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c4c3c3;
    font-size: 12px;
}

.sendBtn {
    padding: 10px 15px;
    margin-left: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    /*size to match toggle*/
    height: 41px;
    width: 85px;
}

.sendBtn:hover {
    background-color: #45a049;
}
