.message__container {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: max-height 0.3s ease; /* Smooth collapse/expand */
}

.message__container.expanded {
    max-height: 150px; /* Expanded height */
}

.message__container.collapsed {
    max-height: 0; /* Collapsed height */
    padding: 0; /* Remove padding when collapsed */
    overflow: hidden;
}

.message__chats {
    margin-bottom: 5px;
    font-size: 12px;
}

.message__sender, .message__recipient {
    padding: 6px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
    font-size: 12px;
}

.message__sender {
    background-color: #65b7fa;
    align-self: flex-end;
}

.message__recipient {
    background-color: #888787;
    align-self: flex-start;
}

.sender__name {
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 3px;
    color: #333;
}

.toggle__button {

    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 41px;
    width: 85px;
    margin-left: 0px;

    /* Positioning the button */
    position: fixed; /* Sticks the button to the viewport */
    bottom: 10px; /* 20px from the bottom of the page */
    right: 10px; /* 20px from the right side of the page */
    z-index: 100000;
}

.toggle__button:hover {
    background-color: #45a049;
}
